@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFFFF3;
  font-family: 'Kiwi Maru', serif;
}

.body{
  margin: 20px;
  margin-top: 40px;
}

div{
  margin-bottom: 2rem;
}

p{
  line-height: 1.7rem;
}

/* 囲み */
.group{
  padding: 0 1rem;
  border: 2px solid #ddd;
  border-radius: 7px;
}

/* header */
header{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 0 50px 0;
  height: 30px;
  border-bottom: 2px solid #666;
  background-color:#FFFFF3;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header img{
  height: 25px;
  margin: 2px 10px 0 10px;
}

/* nav */
.nav{
  text-align: center;
  margin: 0.1rem 0.3rem;
  background-color: bisque;
  border-radius: 10px;
  color: #666;
  font-weight: bold;
}

/* chapter */
.chapter{
  margin: 2rem 0;
}

/* title */
.title{
  text-align: center;
}

.title > p:first-child{
  background-color:bisque;
  font-weight: bold;
  font-size: 2rem;
  padding: 10px 10px;
  border-radius: 10px;
  color: #666;
}

/* 見出し系 */
.midashi-inline{
  display: flex;
}

.midashi-inline.table{
  display: block;
}

:is(.midashi-inline,.midashi-block){
  align-items: center;
  margin: 2rem 0;
}

.midashi-block p:first-child{
  margin-bottom: 0.5rem;
}

:is(.midashi-inline,.midashi-block) > p:first-child{
  font-weight: bold;
  font-size: 1.5rem;
  color: #666;
  margin-left: 1rem;
}

:is(.midashi-inline,.midashi-block) > p:first-child::after{
  content: ":";
  margin: 0 1rem;
}

.midashi-block{
  display: block;
}

/* list系 */
.list{
  display: flex;
}

.list :is(ul,li){
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  color: #666;
}

.list ul{
  align-items: center;
  margin-left: 1rem;
}

.list li:not(:last-child){
  margin-right: 1rem;
}

.list li:not(:last-child,:first-child)::after{
  content: ",";
}

.list li:first-child{
  font-size: 150%;
  font-weight: bold;
}

.list li:first-child::after{
  content: ":";
  margin-left: 1rem;
}

.flexlist ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.flexlist li{
  margin: 0 1rem;
  padding: 0;
}

/* table系 */
.table-yoko{
  display: block;
  box-sizing: border-box;
}

.table-yoko tr:first-child th{
  border: 1px solid #666;
  border-right: 2px solid #666;
}

.table-yoko tbody{
  display: flex;
}

.table-yoko  tr{
  display: flex;
  flex-direction: column;
}

.table-yoko :is(th,td){
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* その他 */
.description > p{
  margin-bottom: 10px;
}

/* explanation */
.sentence p{
  margin: 0 1rem;
}

.border-top-dashed{
  border-top: 2px dashed #ddd;
}

.illustration{
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;

}

.illustration .image{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}

.illustration .image img{
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}

.image-block{
  display: block;
}

.caution p:first-child{
  color: lightcoral;
}

.point p:first-child{
  color:tan;
}
