*{
  margin: 0;
  padding: 0;
}

.body{
  margin: 20px;
}

div{
  margin-bottom: 30px;
}

p{
  line-height: 1.7rem;
}

/* title */
.title{
  text-align: center;
}

.title > p:first-child{
  background-color:bisque;
  font-weight: bold;
  font-size: 2rem;
  padding: 10px 10px;
  border-radius: 10px;
  color: #666;
}

/* 見出し系 */
.s-midashi{
  display: flex;
}

.s-midashi.table{
  display: block;
}

:is(.s-midashi,.l-midashi){
  align-items: center;
}

:is(.s-midashi,.l-midashi) > p:first-child{
  font-weight: bold;
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem;
}

:is(.s-midashi,.l-midashi) > p:first-child::after{
  content: ":";
  margin: 0 10px;
}

.l-midashi{
  display: block;
}

.list{
  display: flex;
}

.description > p{
  margin-bottom: 10px;
}

.illustration{
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
}

.illustration .image{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}
