*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #FFFFF3;
}

.body{
  margin: 20px;
}

div{
  margin-bottom: 30px;
}

p{
  line-height: 1.7rem;
}

/* title */
.title{
  text-align: center;
}

.title > p:first-child{
  background-color:bisque;
  font-weight: bold;
  font-size: 2rem;
  padding: 10px 10px;
  border-radius: 10px;
  color: #666;
}

/* 見出し系 */
.s-midashi{
  display: flex;
}

.s-midashi.table{
  display: block;
}

:is(.s-midashi,.l-midashi){
  align-items: center;
}

:is(.s-midashi,.l-midashi) > p:first-child{
  font-weight: bold;
  font-size: 1.5rem;
  color: #666;
  padding: 0.5rem;
}

:is(.s-midashi,.l-midashi) > p:first-child::after{
  content: ":";
  margin: 0 10px;
}

.l-midashi{
  display: block;
}

/* list系 */
.list{
  display: flex;
}

.list :is(ul,li){
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.list ul{
  /* margin-left: 10px; */
}

.list li:not(:last-child){
  margin-right: 10px;
}

.list li:not(:last-child)::after{
  content: ",";
}

/* table系 */
.table-yoko{
  display: block;
  box-sizing: border-box;
}

.table-yoko tr:first-child th{
  border: 1px solid #666;
  border-right: 2px solid #666;
}

.table-yoko tbody{
  display: flex;
}

.table-yoko  tr{
  display: flex;
  flex-direction: column;
}

.table-yoko :is(th,td){
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* その他 */
.description > p{
  margin-bottom: 10px;
}

.illustration{
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  border: 2px dashed #ddd;
}

.illustration .image{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
}

.caution p:first-child{
  color: lightcoral;
}

.point p:first-child{
  color:tan;
}
